[Unit]
Description=Cog kiosk browser
After=weston-kiosk.service
Requires=weston-kiosk.service

[Service]
User={{KIOSK_USER}}
Group={{KIOSK_USER}}
Environment=XDG_RUNTIME_DIR={{XDG_RUNTIME_DIR}}
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=/usr/local/bin/start-cog.sh {{CONFIG_FILE}}
Restart=always
RestartSec=2

[Install]
WantedBy=graphical.target
