[Unit]
Description=Weston compositor for kiosk display
After=systemd-user-sessions.service

[Service]
User={{KIOSK_USER}}
Group={{KIOSK_USER}}
PAMName=login
TTYPath=/dev/tty1
ExecStart=/usr/bin/weston --backend=drm-backend.so
Restart=always
RestartSec=2

[Install]
WantedBy=graphical.target
