[Unit]
Description=Signage kiosk (Cage + Cog)
After=seatd.service signage.service
Wants=signage.service
Requires=seatd.service
Conflicts=getty@tty1.service

[Service]
Type=simple

User=pi
Group=pi

Environment=XDG_RUNTIME_DIR=/run/user/{{KIOSK_UID}}

TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=journal
StandardError=journal

ExecStart=/usr/bin/cage -- /usr/local/bin/start-cog.sh

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
